
  <div class="row">
    <div class="col-xs-2">
    </div>
    <div class="col-xs-6 div-relative">
      <div class="row">
        <div class="col-xs-12">
          <div ng-style="canvasImg">
            <div class="canvasDiv">         
              <div class="row">
                <div class="col-xs-3 block b-1"></div>
                <div class="col-xs-3 block b-2"></div>
                <div class="col-xs-3 block b-3"></div>
                <div class="col-xs-3 block b-4"></div>
              </div>
              <div class="row">
                <div class="col-xs-3 block b-5"></div>
                <div class="col-xs-3 block b-6"></div>
                <div class="col-xs-3 block b-7"></div>
                <div class="col-xs-3 block b-8"></div>
              </div>
              <div class="row">
                <div class="col-xs-3 block b-9"></div>
                <div class="col-xs-3 block b-10"></div>
                <div class="col-xs-3 block b-11"></div>
                <div class="col-xs-3 block b-12"></div>
              </div>
            </div>    
          </div>
        </div>
      </div>       
      <div class="row space-top-2">
        <div class="col-xs-12">
          <h3 class="centered">
            <span ng-show="gameOver" class="btn btn-default space-right-2" ng-click="startAgain()">Try Again</span>
            <input class="btn btn-default space-right-2" ng-hide="gameStarted" type="button" ng-click="startGame()" value="Start Game"> WPM: {{wpm}} | Timer: {{time}}
          </h3>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <p class="big-text animate-enter" ng-show="gameDisplay">
            {{dataCompleted}} 
            <span ng-class="{cur: cur, fail: fail}">{{dataCurrent}}</span> 
            {{dataRemain}}
          </p>  
        </div>
      </div>  
      <div class="row space-top-2" ng-show="gameOver">
        <div class="col-xs-12">      
          <p class="big-text centered">
            You Typed {{log.length}} words at a rate of {{wpm}} WPM and {{accuracy}}% Accuracy!
          </p>
        </div>
      </div>
      <div class="row space-top-2">
        <div class="col-xs-3"></div>
        <div class="col-xs-6">
          <input ng-class="{cur: cur, fail: fail}" class="text-type bigger-text form-control tall-input" ng-show="gameStarted" type="text" ng-model="ans" ng-disabled="disable">
        </div>
      </div>
      <div class="row space-top-2">
        <div class="col-xs-3"></div>
        <div class="col-xs-6">
          <p class="center-num">{{countDown}}</p>
        </div>  
    </div>   
  </div> 
  <div class="col-xs-3">
    <h3 class="centered">Recent Scores</h3>
    <ol>
      <div ng-repeat="score in pastScores">
        <li>WPM: {{score}}</li>
      </div>  
    </ol>
  </div>

