<div ng-controller="ProfileCtrl">
	<nav class="navbar mainNav">
	  <div class="container">
	    <a href="/#/landing" class="navbar-brand title">TypeAnimator</a>
	    <div id="navbar" class="navbar-collapse collapse">
	      <ul class="nav navbar-nav">
	        <li><a href="/#/" class="nav-link">Game</a></li>
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
	        <li>
	 					<a ng-hide="user" href="/#/signIn" class="nav-link">Sign In</a>
	 					<a ng-show="user" class="nav-link">{{user}}</a>
	        </li>
	        <li ng-show="user">
	          <a href="/#/signIn" class="nav-link">Sign Out</a>
	        </li>
	      </ul>
	    </div>  
	  </div> 
	</nav>
</div>