<div ng-controller="SignInCtrl">
	<nav-directive></nav-directive>
	<div class="container">

	  <form class="form-signin" id="signInForm" ng-hide="signUp || user">
	  	<div ng-hide="savedUser">
		    <h2 class="form-signin-heading">Sign in</h2>
		    <label for="inputEmail" class="sr-only">Email address</label>
		    <input type="email" ng-model="signInEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
		    <label for="inputPassword" class="sr-only">Password</label>
		    <input type="password" ng-model="signInPw" id="inputPassword" class="form-control" placeholder="Password" required>
		    <div class="checkbox">
		      <label>
		        <input type="checkbox" value="remember-me"> Remember me
		      </label>
		    </div>
		  </div>
		  <div ng-show="savedUser">
		  	<h2>Hello {{savedUser.email}}</h2>
		  </div>  
	    <button class="btn btn-lg btn-primary btn-block" ng-click="logIn(signInEmail, signInPw)" type="submit">Sign in</button>
	    <div ng-show="savedUser">Want to sign in with another user? <a ng-click="clearSaved()">Sign In</a></div>
	  	<div>Don't have an account? <a ng-click="signUp=true">Sign up</a></div>
	  </form>

	  <form class="form-signin" id="signInForm" ng-show="signUp && !user">
	    <h2 class="form-signin-heading">Create Account</h2>
	    <label for="username" class="sr-only">Username</label>
	    <input type="input" id="username" ng-model="username" class="form-control" placeholder="Username" required autofocus>
	    <label for="inputEmail" class="sr-only">Email address</label>
	    <input type="email" id="inputEmail" ng-model="email" class="form-control" placeholder="Email address" required autofocus>
	    <label for="inputPassword" class="sr-only">Password</label>
	    <input type="password" id="inputPassword" ng-model="password" class="form-control" placeholder="Password" required>
	    <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="createAcct(username, email, password)">Create</button>
	    <div>Already have an account? <a ng-click="signUp=false">Sign in</a></div>
	  </form>

	  <form class="form-signin" id="signInForm" ng-show="user">
	  	<h2>Hello {{user}}</h2>
	  	<button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="signOut();">Sign out</button>
	  </form>
	</div> <!-- /container -->
</div>