// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding: 0;
  color:#444;
}

.title {
  font-size: 1.7em;
}

.fail,
.cur {
  padding: 2px 5px;
  border-radius: 3px;
}

.fail {
  border: 1px solid red !important;
  color:red;
}

.cur {
  border: 1px solid green;
  color:green;
}

.big-text {
  font-size:1.4em;
}

.centered {
  text-align: center;
}

.center-num {
  font-size:8em;
  text-align:center;
}

.bigger-text {
  font-size:1.5em;
}

.navbar {
  z-index:100;
  margin-bottom:0;
  height: 70px;
}

.navbar a {
  margin-top:10px;
  color: #fff;
}

.navbar a.nav-link {
  font-size:1.3em;
  margin-top:12px;
}

.navbar a.nav-link:hover {
  color:#ddd;
  background-color:rgba(0,0,0,0)
}

.land-img {
  width:100%;
  background:url('http://365psd.com/images/previews/e55/5-blurred-backgrounds-image-2012Part-1-Background-5-without-Glare.jpg');
  height: 80vh;
  margin-top:-50px;
}

.land-img1,
.land-img2,
.land-img3 {
  display: block;
  margin: 10px auto;
}

.land-img1 {
  margin: 40px auto;
  margin-top:70px;
}

.land-img2 {
  margin:25px auto;
  margin-top:50px;
}

.land-img3 {
  margin: 50px auto;
  margin-bottom:25px;
}

.land-title {
  margin-top:40vh;
}

.land-details {
  height:500px;
  color: #555;
}

.land-details h3 {
  text-align:center;
  margin-bottom:20px;
}

.land-details li {
  font-size:1.2em;
  margin:0 auto;
  margin-top:10px;
  color:#777;
  width:95%;
}

.land-details ul {
  margin-top:10px;
}

nav.landingNav {
  background-color: #fff;
}

.landingNav a {
  color:#666;
}

.mainNav {
  background-color:#3E606F;
  margin-bottom: 80px;
}

.roundEdge {
  border-radius: 6px;
}

.block {
  height:132px;
  background-color:black;
}

.tall-input {
  height: 40px;
}

.div-relative {
  position: relative;
}

.canvasDiv {
  margin-top:-10px;
  overflow:hidden;
}

.border-black {
  border: 9px solid black;
}

.space-top-4 {
  margin-top: 40px;
}

.space-top-2 {
  margin-top: 20px;
}

.space-top-1 {
  margin-top: 10px;
}

.space-right-2 {
  margin-right:20px;
}