// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding: 0;
}

.title {
  font-size: 1.5em;
}

.fail,
.cur {
  padding: 2px 5px;
  border-radius: 3px;
}

.fail {
  border: 1px solid red !important;
  color:red;
}

.cur {
  border: 1px solid green;
  color:green;
}

.big-text {
  font-size:1.4em;
}

.centered {
  text-align: center;
}

.center-num {
  margin-top: 50px;
}

.bigger-text {
  font-size:1.5em;
}

.roundEdge {
  border-radius: 6px;
}

.tall-input {
  height: 40px;
}

.div-relative {
  position: relative;
}

.border-black {
  border: 10px solid black;
}

.space-top-4 {
  margin-top: 40px;
}

.space-top-2 {
  margin-top: 20px;
}

.space-top-1 {
  margin-top: 10px;
}

.space-right-2 {
  margin-right:20px;
}