#graph-container {
	text-align: center;
	width: 100%;
	display: inline-block;

	&.day {
		svg {
			border: 1px solid #eee;
		}	

		.axis path,
		.axis line {
		  fill: none;
		  stroke: #888;
		  shape-rendering: crispEdges;
		}

		.x, .y {
			stroke: #888;
		}

		.node {
			stroke: #555;
			stroke-width: 1.5px;
		}

		.line {
		  fill: none;
		  stroke: #bbb;
		  stroke-width: 1.5px;
		}
	}

	&.night {
		svg {
			background-color:#333;
			border: none;
		}	

		.axis path,
		.axis line {
		  fill: none;
		  stroke: #eee;
		  shape-rendering: crispEdges;
		}

		.x, .y {
			stroke: #eee;
		}

		.node {
			stroke: #fff;
			stroke-width: 1.5px;
		}

		.line {
		  fill: none;
		  stroke: #ddd;
		  stroke-width: 1.5px;
		}
	}

	svg {
		border-radius: 4px;
	}
}

.green {
	color: rgb(152,223,138);
}

.orange {
	color: rgb(255, 127, 14);
}

.d3-tip {
	text-align: center;
  line-height: 1;
  font-weight: bold;
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 3px;
  pointer-events: none;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  margin-top: -5px;
  z-index: 300;

  p {
  	margin-bottom: 5px;
  }
}

.profile-btns {
	margin-bottom: 10px;

	.btn-group {
		margin-right: 6px;
	}
}

.night {
	.d3-tip {
		background-color: #fff;
		color: #444;
		border: 1px solid #444;

		&:after {
			color: #eee;
		}
	}
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}
