<!DOCTYPE html>
<html>
<head>
  <title>TypingGame</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="TypingGame">
  <h1>Type Racer</h1>
  <ng-view></ng-view>

</body>
</html>
